<h1>Stupid Coaching#ask</h1>
<div class="container">
  <form action="/answer">
    <label for="question">Speak to your coach</label>
    <input type="text" class="question" name="question" placeholder="what time is it?">
    <input class="btn" type="submit" value="Go on!">
  </form>
</div>
