// // Place all the styles related to the questions controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

body {
  font-family: Roboto;
  font-weight: 300;
  padding: 0 24px;
}


.container {
  display: flex;
  justify-content: space-around;
  font-size: 25px;

}

h1,h2 {
  text-align: center;
  font-weight: 400;
}

p {
  text-align: center;
  font : 1em "typewriter", monospace;
  color: #7e7474;
}


.btn {
  padding      : 5px;
  font         : bold .6em Roboto;
  border       : 2px solid #333;
  border-radius: 5px;
  background   : none;
  cursor       : pointer;
}

.btn:hover {
  outline     : none;
  background  : #898b8a;
  color       : #FFF;
}
.answer-green {
  color: green;
}

.question {
  font    : 1.1em/1.2em Roboto;
  border  : none;
  padding : 0 10px;
  margin  : 0;
  width   : 80%;
  background: lightyellow;
  border-radius: 5px;
}

blockquote {
  border-left: 6px solid #ddd;
  margin: 1.5em 0;
  padding: 0.5em 1em;

  &.coach {
    background-color: lightyellow;
    p { font-weight: 400; }
  }
}

cite:before {
  content: "—"
}

